# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
venv/
.vscode/
*.code-workspace
.env
*.env
.DS_Store
Thumbs.db
dist/
build/
pip-wheel-metadata/
*.log
.metadata/
wsl.log
instance/
*/pa4_test.py
src-demo/
*/src-demo/